{% extends '::base.html.twig' %}

{% block content %}

    {#<td><a href="{{ path('artwork_show', { 'id': artwork.id }) }}">{{ artwork.id }}</a></td>
    <ul>
        <li>
            <a href="{{ path('artwork_show', { 'id': artwork.id }) }}">show</a>
        </li>
        <li>
            <a href="{{ path('artwork_edit', { 'id': artwork.id }) }}">edit</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('artwork_new') }}">Create a new artwork</a>
        </li>
    </ul>#}

        <div class="button_addArtwork center-block">
            <a href="{{ path('artwork_new', {'name': artworks[0].category.name }) }}"><button class="btn btn-primary center-block"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter une nouvelle oeuvre </button></a>
        </div>
        <section id="liste-contents">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="title-contents">
                            {# je recupere seulement la premiere oeuvre et je recupere sa category afin de l'afficher dans le titre #}
                            {# name pas fiable #}
                            {% if artworks is not empty %}
                                <h1> {{ artworks[0].category.name | capitalize }}</h1>
                            {% else %}
                                <h1>Catégorie</h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% if artworks is not empty %}
                        {% for artwork in artworks %}
                            <div class="col-md-4 col-sm-6 latest">
                                <a href="{{ path('artwork_show', { 'id': artwork.id }) }}" class="box-link">
                                    <div class="box-hover">
                                        <div class="box-hover-content">
                                            <i class="fa fa-plus fa-3x"></i>
                                        </div>
                                    </div>
                                    {% if vich_uploader_asset(artwork, 'cover') is not empty %}
                                        <img src="{{ vich_uploader_asset(artwork, 'cover') }}" alt="{{ artwork.name }}" class="img-responsive" width="180" height="180"/>
                                    {% else %}
                                        <img src="{{ asset('images/cover/unknow_cover.jpg') }}" alt="unknow" class="img-responsive" width="180" height="180">
                                    {% endif %}
                                </a>
                                <div class="box-caption">
                                    <h4>{{ artwork.name }}</h4>
                                    <p class="text-muted">{{ artwork.user }}</p>
                                    <hr>
                                    <ul class="list-group black">
                                        {#<li class="list-group-item list-group-item-heading">{% if artwork.createdAt %}{{ artwork.createdAt|date('Y-m-d H:i:s') }}{% endif %}</li>#}
                                        <li class="list-group-item list-group-item-text"> {{ artwork.description }}</li>
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h3 class="text-center">Il n'existe pas d'oeuvre dans cette catégorie pour l'instant. </h3>
                        <div class="button_addArtwork center-block">
                            <a href="{{ path('artwork_new', {'name': artwork[0].category.name }) }}"><button class="btn btn-primary center-block"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter une nouvelle oeuvre </button></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>


{% endblock %}
