{% extends '::base.html.twig' %}

{% block content %}

    {#<td><a href="{{ path('artwork_show', { 'id': artwork.id }) }}">{{ artwork.id }}</a></td>
    <ul>
        <li>
            <a href="{{ path('artwork_show', { 'id': artwork.id }) }}">show</a>
        </li>
        <li>
            <a href="{{ path('artwork_edit', { 'id': artwork.id }) }}">edit</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('artwork_new') }}">Create a new artwork</a>
        </li>
    </ul>#}

    <section id="liste-contents">
        <div class="container">
            <br><br><br><br><br><br><br>
            <div class="row">
                <div class="col-md-6 text-left">
                    <div class="title-contents">
                        {# je recupere seulement la premiere oeuvre et je recupere sa category afin de l'afficher dans le titre #}
                        {# name pas fiable #}
                        {% if artworks is not empty %}
                            <h1><i class="fa fa-book fa-2x"></i> {{ artworks[0].category.name | capitalize }}</h1>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <a href="{{ path('artwork_new') }}" class="btn btn-success"><i class="fa fa-plus-circle"></i> Ajouter une oeuvre </a>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for artwork in artworks %}
                    <div class="col-md-4 col-sm-6 latest">
                        <a href="{{ path('artwork_show', { 'id': artwork.id }) }}" class="box-link">
                            <div class="box-hover">
                                <div class="box-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ vich_uploader_asset(artwork, 'cover') }}" alt="{{ artwork.name }}" class="img-responsive" width="180" height="180"/>
                        </a>
                        <div class="box-caption">
                            <h4>{{ artwork.name }}</h4>
                            <p class="text-muted">{{ artwork.user }}</p>
                            <hr>
                            <ul class="list-group black">
                                {#<li class="list-group-item list-group-item-heading">{% if artwork.createdAt %}{{ artwork.createdAt|date('Y-m-d H:i:s') }}{% endif %}</li>#}
                                <li class="list-group-item list-group-item-text"> {{ artwork.description }}</li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    
{% endblock %}
