{% extends '::base.html.twig' %}

{% block content %}

    <div id="login" class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="{{ path('artwork_index', { 'name': categoryName }) }}">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true"><i class="fa fa-close" aria-hidden="true"></i></span>
                    </button>
                </a>
                <div class="form-wrap">
                    <h1>Ajouter une oeuvre</h1>
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'nom' } }) }}
                        {{ form_errors(form.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'placeholder': 'description'|trans } }) }}
                        {{ form_errors(form.description) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.category, { 'attr': {'class': 'form-control', 'placeholder': 'categorie'|trans } }) }}
                        {{ form_errors(form.category) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.author, { 'attr': {'class': 'form-control', 'placeholder': 'Autheur'|trans } }) }}
                        {{ form_errors(form.author) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.edithor, { 'attr': {'class': 'form-control', 'placeholder': 'éditeur'|trans } }) }}
                        {{ form_errors(form.edithor) }}
                    </div>
                    <div class="form-group">
                        <label>Date de parution</label>
                        {{ form_widget(form.publishAt, { 'attr': {'class': 'input-append date form_datetime', 'placeholder': 'date de publication'|trans } }) }}
                        {{ form_errors(form.publishAt) }}
                    </div>
                    <div class="form-group avatar">
                        {{ form_widget(form.cover, { 'attr': {'class': 'form-control', 'placeholder': 'image'|trans } }) }}
                        {{ form_errors(form.cover) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.coverUrl, { 'attr': {'class': 'form-control', 'placeholder': 'Cover url'|trans } }) }}
                        {{ form_errors(form.coverUrl) }}
                    </div>

                    {{ form_rest(form) }}
                    <input type="submit" class="btn btn-custom btn-lg btn-block" value="{{ 'créer'|trans }}" />
                    {{ form_end(form) }}
                    <hr>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->

{% endblock %}
