{% extends '::base.html.twig' %}

{% block content %}
    <div id="landing">
        <section id="section-one" class="container-fluid">
            <div class="container special-sizebox">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 id="landing-title" class="title">{{ design.title }}</h1>
                        <hr>
                        <h3>{{ design.slogan }}</h3>
                    </div>
                </div>
            </div>
        </section>

        <section id="section-two" class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 first_category">
                        <h2>{{ design.title1 }}</h2>
                        <hr>
                        <h4>{{ design.text1 }}</h4>
                    </div>
                </div>
                <div class="row testimonials">
                    <div class="col-md-4">
                        <div class="testimony">
                            <div class="text"><i class="fa fa-quote-left"></i>{{ design.text2 }}<i class="fa fa-quote-right"></i></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="testimony">
                            <div class="text"><i class="fa fa-quote-left"></i>{{ design.text3 }}<i class="fa fa-quote-right"></i></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="testimony">
                            <div class="text"><i class="fa fa-quote-left"></i>{{ design.text4 }}<i class="fa fa-quote-right"></i></div>
                        </div>
                    </div>
                 </div>
            </div>
        </section>

        <section id="section-three" class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>{{ design.title2 }}</h2>
                        <hr>
                        <h3 class="text-muted">{{ design.text5 }}</h3>
                    </div>
                    <h6 class="text-muted">{{ design.title3 }}</h6>
                </div>
            </div>
        </section>
        {% if artworks %}
        <section id="section-four" class="container-fluid">
            <div class="container">
                <div class="row">
                    {% for artwork in artworks %}
                        {% if artwork.enabled == true %}
                            <div class="col-md-4 col-sm-6 latest">
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <a href="{{ path('artwork_show', { 'id': artwork.id }) }}" class="box-link">
                                {% else %}
                                <a href="{{ path('fos_user_security_login') }}" class="box-link">
                                {% endif %}
                                  <div class="item">
                                      <div class="box-hover">
                                          <div class="box-hover-content">
                                              <i class="fa fa-plus fa-3x"></i>
                                          </div>
                                      </div>
                                      {% if vich_uploader_asset(artwork, 'cover') is not empty %}
                                          <img src="{{ vich_uploader_asset(artwork, 'cover') }}" alt="{{ artwork.name }}" class="img-responsive" width="180" height="180"/>
                                      {% elseif artwork.coverUrl is not empty %}
                                          <img src="{{ artwork.coverUrl }}" alt="coverUrl" class="img-responsive" width="180" height="180">
                                      {% else %}
                                          <img src="{{ asset('images/cover/unknow_cover.jpg') }}" alt="unknow" class="img-responsive" width="180" height="180">
                                      {% endif %}
                                  </div>
                                </a>
                                <div class="box-caption">
                                    <h4>{{ artwork.name }}</h4>
                                    <hr>
                                    <ul class="list-group black">
                                        <li class="list-group-item list-group-item-heading"> {{ artwork.category.name | capitalize }}</li>
                                        <li class="list-group-item list-group-item-text"> {{ artwork.description }}</li>
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}
        <section id="contact" class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>Écrivez nous!</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                {{ form_start(form) }}
                                {{ form_widget(form.subject, { 'attr': {'class': 'form-control input-md', 'placeholder': 'Votre sujet'} }) }}
                                {{ form_errors(form.subject) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                {{ form_widget(form.name, { 'attr': {'class': 'form-control input-md', 'placeholder': 'Votre nom'} }) }}
                                {{ form_errors(form.name) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                {{ form_widget(form.email, { 'attr': {'class': 'form-control input-md', 'placeholder': 'Votre email'} }) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                {{ form_widget(form.message, { 'attr': {'class': 'form-control input-md', 'placeholder': 'Votre message'} }) }}
                                {{ form_errors(form.message) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                {{ form_rest(form) }}
                                <input type="submit" value="Envoyer" class="btn btn-custom">
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
