{% extends '::base.html.twig' %}

{% block content %}
    <h1>Game</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Domainname</th>
                <td>{{ game.domainName }}</td>
            </tr>
            <tr>
                <th>Template</th>
                <td>{{ game.template }}</td>
            </tr>
            <tr>
                <th>Formtype</th>
                <td>{{ game.formType }}</td>
            </tr>
            <tr>
                <th>Iaffiliatisid</th>
                <td>{{ game.iAffiliatisId }}</td>
            </tr>
            <tr>
                <th>Endpositioningid</th>
                <td>{{ game.endPositioningId }}</td>
            </tr>
            <tr>
                <th>Sgoogleanalytics</th>
                <td>{{ game.sGoogleAnalytics }}</td>
            </tr>
            <tr>
                <th>Gamesitecategory</th>
                <td>{{ game.gameSiteCategory }}</td>
            </tr>
            <tr>
                <th>Btnparticipationlabel</th>
                <td>{{ game.btnParticipationLabel }}</td>
            </tr>
            <tr>
                <th>Sizeinputbootstrap</th>
                <td>{{ game.sizeInputBootstrap }}</td>
            </tr>
            <tr>
                <th>Titleformulaire</th>
                <td>{{ game.titleFormulaire }}</td>
            </tr>
            <tr>
                <th>Titlestackform</th>
                <td>{{ game.titleStackForm }}</td>
            </tr>
            <tr>
                <th>Titlecoregcontent</th>
                <td>{{ game.titleCoregContent }}</td>
            </tr>
            <tr>
                <th>Titleendpositioning</th>
                <td>{{ game.titleEndPositioning }}</td>
            </tr>
            <tr>
                <th>Image1name</th>
                <td>{{ game.image1Name }}</td>
            </tr>
            <tr>
                <th>Image2name</th>
                <td>{{ game.image2Name }}</td>
            </tr>
            <tr>
                <th>Image3name</th>
                <td>{{ game.image3Name }}</td>
            </tr>
            <tr>
                <th>Image4name</th>
                <td>{{ game.image4Name }}</td>
            </tr>
            <tr>
                <th>Imagecoregcontentsrc</th>
                <td>{{ game.imageCoregContentSrc }}</td>
            </tr>
            <tr>
                <th>Imageendpositioningsrc</th>
                <td>{{ game.imageEndPositioningSrc }}</td>
            </tr>
            <tr>
                <th>Instantwin</th>
                <td>{{ game.instantWin }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if game.updatedAt %}{{ game.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if game.createdAt %}{{ game.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('game_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('game_edit', { 'id': game.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
