{% extends '::base.html.twig' %}

{% block content %}
    <h1>Nouveau jeux </h1>

    {{ form_start(form) }}

        <div class="form-group row">
            {{ form_label(form.iGameId, '', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.iGameId, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.domainName, '', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.domainName, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.template, '', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.template, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.formType, '', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.formType, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.iAffiliatisId, '', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.iAffiliatisId, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.endPositioningId, '', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.endPositioningId, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.sGoogleAnalytics, '', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.sGoogleAnalytics, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.gameSiteCategory, '', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.gameSiteCategory, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.btnParticipationLabel, '', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.btnParticipationLabel, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.sizeInputBootstrap, '', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.sizeInputBootstrap, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.titleFormulaire, '', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.titleFormulaire, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.titleStackForm, '', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.titleStackForm, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.titleCoregContent, '', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.titleCoregContent, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.titleEndPositioning, '', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.titleEndPositioning, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.image1, ' ', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.image1, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.image2, ' ', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.image2, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.image3, ' ', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.image3, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.image4, ' ', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.image4, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.imageCoregContentSrc, '', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.imageCoregContentSrc, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.imageEndPositioningSrc, '', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.imageEndPositioningSrc, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.instantWin, '', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.instantWin, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.inProd, '', {'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-7">
                {{ form_widget(form.inProd, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>

        {{ form_rest(form) }}

        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('game_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}