{% extends "::base.html.twig" %}

{% block content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <div class="fos_user_user_show">
        <div id="profile">
            {% if vich_uploader_asset(user, 'avatar') is not empty %}
                <img src="{{ vich_uploader_asset(user, 'avatar') }}" alt="{{ user.username }}" class="profile-img img-responsive" width="180" height="180"/>
            {% else %}
                <img src="{{ asset('images/avatar/uknow_user.png') }}" alt="unknow" class="profile-img img-responsive" width="180" height="180">
            {% endif %}
            <div class="profile-text">
                <a href="{{ path('fos_user_profile_edit') }}" class="profile-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
                <h1 class="profile-name">{{ user.username }}</h1>
                <h4 class="profile-title">{{ user.firstname }} • {{ user.birthdate|date("m-d-Y") }}</h4>
                <span class="profile-title">{{ user.description }}</span>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading"><h1>Mes oeuvres par categories</h1></div>
        <div class="panel-body">
            <table class="table table-bordereds table-responsive">
                <tr>
                    {% for category in categories %}
                        <td> category.name </td>
                    {% endfor %}
                </tr>
            </table>
        </div>
        <div class="panel-footer">

        </div>
    </div>

{% endblock content %}

