
{% extends '::base.html.twig' %}

{% block content %}

    <div id="admin">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <div class="panel-group" id="accordion">
                        <h1 id="adminHeading">Administration</h1>
                        <hr>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#home">Page d'accueil</a>
                                </h4>
                            </div>
                            <div id="home" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        {{ form_start(edit_form) }}
                                        <div class="col-md-4">
                                            {{ form_label(edit_form.title) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(edit_form.title, { 'attr': {'class': 'form', 'placeholder': 'edit_form.title'|trans } }) }}
                                            {{ form_errors(edit_form.title) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form_label(edit_form.slogan) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(edit_form.slogan, { 'attr': {'class': 'form', 'placeholder': 'edit_form.slogan'|trans } }) }}
                                            {{ form_errors(edit_form.slogan) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form_label(edit_form.title1) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(edit_form.title1, { 'attr': {'class': 'form', 'placeholder': 'edit_form.title1'|trans } }) }}
                                            {{ form_errors(edit_form.title1) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form_label(edit_form.title2) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(edit_form.title2, { 'attr': {'class': 'form', 'placeholder': 'edit_form.title2'|trans } }) }}
                                            {{ form_errors(edit_form.title2) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form_label(edit_form.title3) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(edit_form.title3, { 'attr': {'class': 'form', 'placeholder': 'edit_form.title3'|trans } }) }}
                                            {{ form_errors(edit_form.title3) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form_label(edit_form.text1) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(edit_form.text1, { 'attr': {'class': 'form', 'placeholder': 'edit_form.text1'|trans } }) }}
                                            {{ form_errors(edit_form.text1) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form_label(edit_form.text2) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(edit_form.text2, { 'attr': {'class': 'form', 'placeholder': 'edit_form.text2'|trans } }) }}
                                            {{ form_errors(edit_form.text2) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form_label(edit_form.text3) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(edit_form.text3, { 'attr': {'class': 'form', 'placeholder': 'edit_form.text3'|trans } }) }}
                                            {{ form_errors(edit_form.text3) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form_label(edit_form.text4) }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ form_widget(edit_form.text4, { 'attr': {'class': 'form', 'placeholder': 'edit_form.text4'|trans } }) }}
                                            {{ form_errors(edit_form.text4) }}
                                        </div>
                                        {{ form_rest(edit_form) }}
                                        <button type="submit" class="btn btn-danger pull-right">{{ 'edit'|trans }}</button>
                                        {{ form_end(edit_form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#artwork">Artwork</a>
                                </h4>
                            </div>
                            <div id="artwork" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="add"><a href="#add" aria-controls="1" role="tab" data-toggle="tab">Ajouter</a></li>
                                        <li role="edit"><a href="#edit" aria-controls="2" role="tab" data-toggle="tab">Modifier</a></li>
                                    </ul>
                                    <!-- Content -->
                                    <div class="tab-content">
                                        <div role="add" class="tab-pane" id="add">
                                                <div id="manu" class="tab-pane">
                                                    <div class="col-md-push-3 col-md-6 center-block">
                                                        <div class="form-wrap">
                                                            <h3>Ajouter une oeuvre</h3>
                                                            {{ form_start(newArtform) }}
                                                            <div class="form-group">
                                                                {{ form_widget(newArtform.name, { 'attr': {'class': 'form-control', 'placeholder': 'nom'|trans } }) }}
                                                                {{ form_errors(newArtform.name) }}
                                                            </div>
                                                            <div class="form-group">
                                                                {{ form_widget(newArtform.description, { 'attr': {'class': 'form-control', 'placeholder': 'description'|trans } }) }}
                                                                {{ form_errors(newArtform.description) }}
                                                            </div>
                                                            <div class="form-group">
                                                                {{ form_widget(newArtform.category, { 'attr': {'class': 'form-control', 'placeholder': 'categorie'|trans } }) }}
                                                                {{ form_errors(newArtform.category) }}
                                                            </div>
                                                            <div class="form-group">
                                                                {{ form_widget(newArtform.author, { 'attr': {'class': 'form-control', 'placeholder': 'autheur'|trans } }) }}
                                                                {{ form_errors(newArtform.author) }}
                                                            </div>
                                                            <div class="form-group">
                                                                {{ form_widget(newArtform.edithor, { 'attr': {'class': 'form-control', 'placeholder': 'éditeur'|trans } }) }}
                                                                {{ form_errors(newArtform.edithor) }}
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Date de parution</label>
                                                                {{ form_widget(newArtform.publishAt, { 'attr': {'class': '', 'placeholder': 'date de publication'|trans } }) }}
                                                                {{ form_errors(newArtform.publishAt) }}
                                                            </div>
                                                            <div class="form-group avatar">
                                                                {{ form_widget(newArtform.cover, { 'attr': {'class': 'form-control', 'placeholder': 'image'|trans } }) }}
                                                                {{ form_errors(newArtform.cover) }}
                                                            </div>
                                                            <hr>
                                                            {{ form_rest(newArtform) }}
                                                            <input type="submit" class="btn btn-danger btn-lg btn-block" value="{{ 'créer'|trans }}" />
                                                            {{ form_end(newArtform) }}
                                                        </div>

                                                    </div>

                                                </div>
                                        </div>
                                        <div role="edit" class="tab-pane" id="edit">
                                            <div class="row">
                                                <div class="col-lg-push-2 col-lg-8 center-block">
                                                    <div class="row">
                                                        {% if artworks is not empty %}
                                                            {% for artwork in artworks %}
                                                                <div class="col-sm-4">
                                                                    <div class="box-link">
                                                                        <div class="box-hover">
                                                                            <div class="box-hover-content">
                                                                                <h2>{{ artwork.category }}</h2>
                                                                                <h3 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ artwork.name }}</h3>
                                                                                <p>{{ artwork.user }}</p>
                                                                                {% if artwork.enabled == false %}
                                                                                    <a href="{{ path('admin_validate_artwork', { 'id': artwork.id }) }}"><i class="fa fa-check" style="font-size:48px;color:white"></i></a>
                                                                                {% endif %}
                                                                                <a href="{{ path('admin_delete', { 'id': artwork.id }) }}"><i class="fa fa-trash-o" style="font-size:48px;color:white"></i></a>
                                                                            </div>
                                                                        </div>
                                                                        {% if vich_uploader_asset(artwork, 'cover') is not empty %}
                                                                            <img src="{{ vich_uploader_asset(artwork, 'cover') }}" alt="{{ artwork.name }}" width="160" height="200"/>
                                                                        {% elseif artwork.coverUrl is not empty %}
                                                                            <img src="{{ artwork.coverUrl }}" alt="coverUrl" width="160" height="200">
                                                                        {% else %}
                                                                            <img src="{{ asset('images/cover/unknow_cover.jpg') }}" alt="unknow" width="160" height="200">
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#categories">Catégories</a>
                                </h4>
                            </div>
                            <div id="categories" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li><a href="#new" aria-controls="1" role="tab" data-toggle="tab">Ajouter</a></li>
                                        <li><a href="#list" aria-controls="2" role="tab" data-toggle="tab">Liste</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane" id="new">
                                            <div class="col-md-push-3 col-md-6 center-block">
                                                <div class="form-wrap">
                                                    <h3>Ajouter une catégorie</h3>
                                                    {{ form_start(formNewCategory) }}
                                                    <div class="form-group">
                                                        {{ form_widget(formNewCategory.name, { 'attr': {'class': 'form-control', 'placeholder': 'nom'|trans } }) }}
                                                        {{ form_errors(formNewCategory.name) }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ form_widget(formNewCategory.description, { 'attr': {'class': 'form-control', 'placeholder': 'description'|trans } }) }}
                                                        {{ form_errors(formNewCategory.description) }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ form_widget(formNewCategory.apiUrl, { 'attr': {'class': 'form-control', 'placeholder': 'api Url'|trans } }) }}
                                                        {{ form_errors(formNewCategory.apiUrl) }}
                                                    </div>
                                                    <button type="submit" class="btn btn-danger">Ajouter</button>
                                                    {{ form_end(formNewCategory) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="list">

                                                <div class="panel-body">
                                                    <table class="table table-hover">
                                                        <h3>Liste des catégories</h3>
                                                        <thead>
                                                        <tr>
                                                            <th class="text-center">Nom</th>
                                                            <th class="text-center">Description</th>
                                                            <th class="text-center">API Url</th>
                                                            <th class="text-center">Date de création</th>
                                                            <th class="text-center">Supprimer</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for category in categories %}
                                                            <tr>
                                                                <td>{{ category.name }}</td>
                                                                <td>{{ category.description }}</td>
                                                                <td>{{ category.apiUrl }}</td>
                                                                <td>{% if category.createdAt %}{{ category.createdAt|date('m-d-Y H:i:s') }}{% endif %}</td>
                                                                <td><a href="{{ path('admin_delete_category', { 'id': category.id }) }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Salons</a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li><a href="#newSalon" aria-controls="1" role="tab" data-toggle="tab">Ajouter</a></li>
                                        <li><a href="#listSalons" aria-controls="2" role="tab" data-toggle="tab">Liste</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane" id="newSalon">
                                            <div class="col-md-push-3 col-md-6 center-block">
                                                <div class="form-wrap">
                                                    <h3>Ajouter un salon</h3>{{ form_start(newRoomForm) }}
                                                    <div class="form-group">
                                                        {{ form_widget(newRoomForm.name, { 'attr': {'class': 'form-control', 'placeholder': 'Nom Salon' } }) }}
                                                        {{ form_errors(newRoomForm.name) }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ form_widget(newRoomForm.artwork, { 'attr': {'class': 'form-control', 'placeholder': 'Oeuvres'|trans } }) }}
                                                        {{ form_errors(newRoomForm.artwork) }}
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Date de début</label>
                                                        {{ form_widget(newRoomForm.startedAt, { 'attr': {'class': '', 'placeholder': 'Commence à' } }) }}
                                                        {{ form_errors(newRoomForm.startedAt) }}
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Date de fin</label>
                                                        {{ form_widget(newRoomForm.closedAt, { 'attr': {'class': '', 'placeholder': 'Se termine à' } }) }}
                                                        {{ form_errors(newRoomForm.closedAt) }}
                                                    </div>

                                                    {{ form_rest(newRoomForm) }}
                                                    <input type="submit" class="btn btn-custom btn-lg btn-block" value="{{ 'créer' }}" />
                                                    {{ form_end(newRoomForm) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="listSalons">
                                            <div class="panel-body">
                                                <table class="table table-hover">
                                                    <h3>Liste des salons</h3>
                                                    <thead>
                                                    <tr>
                                                        <th class="text-center">État</th>
                                                        <th class="text-center">Titre</th>
                                                        <th class="text-center">Oeuvre</th>
                                                        <th class="text-center">Date de debut</th>
                                                        <th class="text-center">Date de fin</th>
                                                        <th class="text-center">Nb de participants</th>
                                                        <th class="text-center">Modifier</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for room in rooms %}
                                                        <tr>
                                                            <td>
                                                                {% if "now"|date('Ymd')  > room.closedAt|date('Ymd') %}
                                                                    Fermé
                                                                {% elseif "now"|date('Ymd')  <= room.closedAt|date('Ymd') and "now"|date('Ymd')  >= room.startedAt|date('Ymd')%}
                                                                    Ouvert
                                                                {% elseif "now"|date('Ymd')  < room.startedAt|date('Ymd')%}
                                                                    À venir
                                                                {% endif %}
                                                            </td>
                                                            <td>{{ room.name }}</td>
                                                            <td>{{ room.artwork }}</td>
                                                            <td>{{ room.startedAt|date('m-d-Y H:i:s') }}</td>
                                                            <td>{{ room.closedAt|date('m-d-Y H:i:s') }}</td>
                                                            <td>2</td>
                                                            <td><a href="{{ path('admin_delete_room', { 'id': room.id }) }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#users">Utilisateurs</a>
                                </h4>
                            </div>
                            <div id="users" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th class="text-center">Surnom</th>
                                            <th class="text-center">Nom</th>
                                            <th class="text-center">Prénom</th>
                                            <th class="text-center">Email</th>
                                            <th class="text-center">Role</th>
                                            <th>État</th>
                                            <th class="text-center">Modifier</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in users %}
                                            <tr>
                                                <td>{{ user.username }}</td>
                                                <td>{{ user.lastname }}</td>
                                                <td>{{ user.firstname }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>
                                                    {% if user.hasRole('ROLE_ADMIN') %}  Administrateur
                                                    {% else %} User
                                                    {% endif %}
                                                </td>
                                                <td>{% if user.enabled == 1 %}Actif
                                                    {% else %}Désactivé
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if user.hasRole('ROLE_ADMIN') %}
                                                        <a href="{{ path('admin_to_user', { 'id': user.id }) }}">Rétrograder <i class="fa fa-minus-circle" aria-hidden="true"></i></a> |
                                                    {% else %}
                                                        <a href="{{ path('user_to_admin', { 'id': user.id }) }}">Promouvoir <i class="fa fa-plus-circle" aria-hidden="true"></i></a> |
                                                    {% endif %}

                                                    {% if user.enabled == 1 %}
                                                        <a href="{{ path('admin_ban_user', { 'id': user.id }) }}">Bannir <i class="fa fa-user-times" aria-hidden="true"></i></a>
                                                    {% else %}
                                                        <a href="{{ path('admin_activate_user', { 'id': user.id }) }}">Réactiver <i class="fa fa-user-plus" aria-hidden="true"></i></a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}