{% extends '::base.html.twig' %}


{% block content %}
    {% if room.status %}
        <header id="salon">
            <div class="container">
                <div class="row">
                    <div class="salon content-title col-lg-12">
                        <div class="col-md-7">
                            <h1>{{ room.artwork.name | capitalize }}</h1>
                            <h3 class="text-warning">  {{ room.name | capitalize }} </h3>
                            <p class="text-muted">Créé par {{ room.creator | capitalize }}</p>
                            <p class="text-info"> Du {% if room.startedAt %}{{ room.startedAt|date('d/m/Y H:i:s') }}{% endif %} au {% if room.closedAt %}{{ room.closedAt|date('d/m/Y H:i:s') }}{% endif %}</p>
                            {% if room.status %}
                                <p class="text-success">{{ 'Ouvert' }} </p>
                            {% else %}
                                <p class="text-danger">{{ 'Close' }} </p>
                            {% endif %}
                            <a href="{{ path('room_index') }}" class="btn btn-default">Retour à la liste des salons</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="chat">
            <div class="container">
                <div class="row box-chat">
                    <div class="col-xs-8">
                        <h3>Chat du salon</h3>
                        <ul id="chat-list">
                            {#message.message#}
                        </ul>
                        <div class="form-group">
                            <textarea id="chat-message" placeholder="Votre message" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="button" id="chat-submit" value="Envoyer" class="btn btn-default"/>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <h3>Participants</h3>
                        <div class="participants-list">
                            <ul class="list-group">
                                <li>err</li>
                                <li>err</li>
                                <li>err</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
           {#
            <a href="{{ path('room_index') }}" class="btn btn-default">Retour à la liste des salons</a>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}#}

        </div>
    {% else %}
        <header id="salon">
            <div class="container">
                <div class="row">
                    <div class="salon content-title col-lg-12">
                        <div class="col-md-7">
                            <h1>Salon {{ room.name }} </h1>
                            <p class="text-muted">{{ room.creator }}</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/moment.locale.fr.js') }}"></script>
    <script>
        // This object will be sent everytime you submit a message in the sendMessage function.
        var clientInformation = {
            username: '<strong>{{ user.username | capitalize }}</strong>',
            avatar:'<img src="{% if vich_uploader_asset(user, 'avatar') is not empty %} {{ vich_uploader_asset(user, 'avatar') }} {% else %} {{ asset('images/avatar/unknow_user.png') }} {% endif %}" height="30" width="30" class="img-circle img-responsive" style="display: inline-block">'
        };

        // START SOCKET CONFIG
        /**
         * Note that you need to change the "sandbox" for the URL of your project.
         * According to the configuration in Sockets/Chat.php , change the port if you need to.
         * @type WebSocket
         */

        var conn = new WebSocket('ws://localhost:8080{{ room.route }}');

        conn.onopen = function(e) {
            console.info("Connection established succesfully");
        };

        conn.onmessage = function(e) {
            var data = JSON.parse(e.data);
            Chat.appendMessage(data.avatar, data.username, data.message);
            console.log(data);
        };

        conn.onerror = function(e){
            alert("Erreur: quelque chose à mal tourné.");
            console.error(e);
        };
        // END SOCKET CONFIG

        /// Some code to add the messages to the list element and the message submit.
        document.getElementById("chat-submit").addEventListener("click",function(){
            var msg = $("#chat-message").val();

            if(!msg){
                alert("Veuillez entrer un message avant de valider.");
            }else{
                Chat.sendMessage(msg);
            }

            // Empty text area
            // msg.value = "";
        }, false);

        // Mini API to send a message with the socket and append a message in a UL element.
        var Chat = {
            appendMessage: function(avatar, username, message){
                var from = username;
                var msg = message;
                var imgProfile = avatar;

                var date = new Date(Date.now());
                var dateFormat = moment(date).format("HH:MM:SS");

                // Append List Item
                var ul = $("#chat-list");
                ul.append("<li>"+dateFormat+" "+imgProfile+" - "+ from + " : "+msg+"</li>");
            },
            sendMessage: function(text){
                clientInformation.message = text;
                // Send info as JSON
                conn.send(JSON.stringify(clientInformation));
                // Add my own message to the list
                console.log(clientInformation.username);
                this.appendMessage(clientInformation.avatar, clientInformation.username, clientInformation.message);
            }
        };
    </script>

{% endblock %}