{% extends '::base.html.twig' %}


{% block content %}
    {% if room.status %}
        <header id="salon">
            <div class="container">
                <div class="row">
                    <div class="salon content-title col-lg-12">
                        <div class="col-md-7">
                            <h2>{{ room.artwork.name | capitalize }}</h2>
                            <h3 class="text-warning">  {{ room.name | capitalize }} </h3>
                            <p class="text-muted">Créé par {{ room.creator | capitalize }}</p>
                            <p class="text-info"> Du {% if room.startedAt %}{{ room.startedAt|date('d/m/Y H:i:s') }}{% endif %} au {% if room.closedAt %}{{ room.closedAt|date('d/m/Y H:i:s') }}{% endif %}</p>
                            {% if room.status %}
                                <p class="text-success">{{ 'Ouvert' }} </p>
                            {% else %}
                                <p class="text-danger">{{ 'Close' }} </p>
                            {% endif %}
                            <a href="{{ path('room_index') }}" class="btn btn-default">Retour à la liste des salons</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="container">
             <div class="row">
                <div class="col-xs-2 no-padding">
                    <div id="users">
                        <h3>En ligne</h3>
                    </div>
                </div>
                <div class="col-xs-10 no-padding">
                    <div id="messages">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <form action="" id="form" class="form-inline">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="input-group input-group-md">
                                    <input type="text" id="message" class="form-control" placeholder="Message">
                                    <div class="input-group-btn">
                                        <input type="submit" id="send" class="btn" value="Envoyer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

           {#
            <a href="{{ path('room_index') }}" class="btn btn-default">Retour à la liste des salons</a>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}#}
    {% else %}
        <header id="salon">
            <div class="container">
                <div class="row">
                    <div class="salon content-title col-lg-12">
                        <div class="col-md-7">
                            <h1>Salon {{ room.name }} </h1>
                            <p class="text-muted">{{ room.creator }}</p>
                            <p>Ce salon est fermé</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endif %}


    {% if voted == false %}
    <!-- modal conditions -->
    <div class="modal " id="vote-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  data-show="true" style="display: block;">
    <div id="conditions" class="container" style="height: auto;">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="form-wrap">
                    <h1>{{ room.artwork }}</h1>
                    <p>Vous devez voter cette oeuvre avant de pouvoir acceder au salon</p>
                    <hr>
                    <a href="{{ path('artwork_show', { 'id': room.artwork.id }) }}"><button class="btn btn-default">Voter pour cet oeuvre</button></a>
                    <br><br><br>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/socket.io.js') }}"></script>
    <script>
         $( document ).ready(function() {
            document.getElementById("room-content").style.opacity = "0.5";
            $("#vote-modal").modal();
        });
    </script>
    <script>
            var startChat;

            $(function(){
                var socket = io.connect('http://localhost:4200');
                var lastmsg = false;

                $(window).on('load',function(){
                    $('#modalSign').modal({
                        show: true,
                        backdrop: 'static',
                        keyboard: false
                    });

                    if($('#messages').empty()){
                        $('#messages').append('<h2 class="text-center h2">Aucun message</h2>');
                    }
                });

                $('#formLogin').submit(function(event){
                    event.preventDefault();
                    if(!$('#username').val()) {
                        alert('Vous devez choisir un username valide')
                    }else{
                        socket.emit('login', {
                            username : $('#username').val(),
                            mail     : $('#mail').val()
                        });
                    }
                });

                socket.on('logged', function(){
                    $('#modalSign').modal('hide');
                    $('#message').focus();
                });

                startChat = function(user_id){
                    socket.emit('login', {
                        user_id: user_id
                    })
                }


                $('#form').submit(function(event){
                    event.preventDefault();
                    socket.emit('newmsg', {message: $('#message').val()});
                    $('#message').val('');
                    $('#message').focus();
                });

                socket.on('newmsg', function(message){
    //                console.log(message.me);
    //                console.log(message.message);

                    if( lastmsg != message.me.username ){
                        $('#messages').append('<div class="space"></div>');
                        lastmsg = message.me.username;
                    }

                    $('.h2').remove();

                    $('#messages').append('<div class="message '+message.me.username+'">'+
                                            '<img src="'+message.me.avatar+'" class="img-responsive img-rounded" width="50">'+
                                            '<div class="info">'+
                                                '<p class="username"><strong>'+message.me.username+'</strong></p>'+
                                                '<p class="msgreceive">'+message.message+'</p>'+
                                                '<span class="date">'+ message.h +':'+ message.min +'</span>'+
                                            '</div><div class="both"></div>'+
                                          '</div>'
                    );
                    $('.space').prev().css('border-bottom-left-radius', '10px');
                    $('.space').next().css('border-top-left-radius', '10px');



                    $('#messages').animate({scrollTop : $('#messages').prop('scrollHeight') }, 50);
                });

                socket.on('newuser', function(user){
                    $('#users').append('<img src="'+ user.avatar +'" id="'+user.id+'" class="img-responsive img-rounded center-block">');
                });

                socket.on('disuser', function(user){
                    $('#'+user.id).remove();
                });
            });
        </script>

{% endblock %}